image/
__pycache__
**/build/
**/*.egg-info/
**/dist/
*.so
exp
weights
data
*log*
outputs/
.vscode
.idea
*/.DS_Store
**/*.out
Dockerfile

# Ignore large training artifacts
*.pth
*.ckpt
*.h5
runs/
wandb/
log/

# Ignore datasets
data/
dataset/